.mem_slider {
  margin: 0 auto;

  width: 80%;
  max-width: 100%;

  text-align: center;
}

.mems {
  width: 100%;
  overflow: hidden;
}

.mems_inner {
  display: flex;
  width: 400%;
  height: 80vh;
}

.mem {
  width: 100%;
  height: 100%;

  font-size: 3rem;
  
  background-color: red;
}

.mem_img {
  width: 100%;
  height: 80%;
  background-color: blue;
}

.mem_description {
  margin: 0;
}

.mem_img img {
  object-fit: contain;

  width: 100%;
  height: 100%;
}

#mem-1:checked ~ .mems .mems_inner {
  margin-left: 0;
}
#mem-2:checked ~ .mems .mems_inner {
  margin-left: -100%;
}
#mem-3:checked ~ .mems .mems_inner {
  margin-left: -200%;
}
#mem-4:checked ~ .mems .mems_inner {
  margin-left: -300%;
}