* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  margin: 0;

  color: white;
  font-size: 1.5rem;

  background-color: #25282a;
}

.mem_slider {
  width: 80%;
  max-width: 100%;
  padding: 0 0 2rem 0;
  height: 100%;
}

.mem_slider input {
  width: 0;
  height: 0;
  margin: 0;
}

.mems {
  width: 100%;
  height: 100%;
}

.mems .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.mems_desription {
  width: 100%;
  line-height: 2.5rem;
  overflow: hidden;
}

.mems_description_inner {
  display: flex;
  width: 100%;
  transition: margin-left 0.5s;
}

.mem_description {
  flex-shrink: 0;
  width: 100%;
  margin: 0;
}

.mems .overflow {
  width: 100%;
  height: 80%;

  margin: 0 0 1rem 0;

  box-shadow: 0 0.4rem 0 rgba(0, 0, 0, 0.452);
  border-radius: 1rem;
  overflow: hidden;
}

.mems_img_inner {
  display: flex;

  width: 400%;
  height: 100%;

  transition: margin-left 0.5s;
  background-color: #454749;
}

.mem_img {
  width: 100%;
  height: 100%;

  background-color: inherit;
}

.mem_img img {
  object-fit: contain;

  width: 100%;
  height: 100%;
}

.mems_controls {
  display: flex;
  gap: 0.5rem;
}

.mems_controls label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.mems_controls label label {
  background-color: #75abfa;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.mems_controls label:hover {
  cursor: pointer;
}

.mems_controls label:hover label {
  background-color: white;
}
.mems_controls label:active label {
  background-color: rgba(255, 255, 255, 0.705);
}

#mem-1:checked ~ .mems label:nth-child(1) > label,
#mem-2:checked ~ .mems label:nth-child(2) > label,
#mem-3:checked ~ .mems label:nth-child(3) > label,
#mem-4:checked ~ .mems label:nth-child(4) > label {
  background-color: inherit;
  border: 0.2rem solid #75abfa;
}

#mem-1:checked ~ .mems label:nth-child(1):hover > label,
#mem-2:checked ~ .mems label:nth-child(2):hover > label,
#mem-3:checked ~ .mems label:nth-child(3):hover > label,
#mem-4:checked ~ .mems label:nth-child(4):hover > label {
  border-color: white;
}

#mem-1:checked ~ .mems .mems_img_inner, 
#mem-1:checked ~ .mems .mems_description_inner {
  margin-left: 0;
}
#mem-2:checked ~ .mems .mems_img_inner, 
#mem-2:checked ~ .mems .mems_description_inner {
  margin-left: -100%;
}
#mem-3:checked ~ .mems .mems_img_inner, 
#mem-3:checked ~ .mems .mems_description_inner {
  margin-left: -200%;
}
#mem-4:checked ~ .mems .mems_img_inner, 
#mem-4:checked ~ .mems .mems_description_inner {
  margin-left: -300%;
}

@media (max-width: 767.9px) {
  .mem_slider {
    width: 90%;
  }

  .mems .overflow {
    height: 50%;
  }

  .mems .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .mems_controls {
    margin: 0 0 1rem 0;
  }
}